{% extends 'base.html' %}
{% block content %}
<form method="post" class="buttons">
  <h3>Rejoindre une Salle de Discussion</h3>
  <div>
    <input
      type="text"
      placeholder="Entrez votre département"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Code de la Salle" name="code" value="{{code}}" />
    <button type="submit" name="join">Rejoindre une salle</button>
  </div>
  <button type="submit" name="create" class="create">Créer une salle</button>
  {% if erreur %}
  <ul>
    <li>{{erreur}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
