{% extends 'base.html' %}
{% block content %}
<div class="chat-container">
  <div class="chat-header">
    <h2>Salle : {{code}}</h2>
  </div>
  <button id="quit-btn" onclick="quitterSalle()">Quitter la salle</button>
  
  <div class="messages" id="messages"></div>
  
  <div class="message-input">
    <input
      type="text"
      placeholder="Écrivez votre message..."
      name="message"
      id="message"
      autocomplete="off"
    />
    <button id="send-btn" onclick="envoyerMessage()">
      Envoyer
    </button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg, isCurrentUser) => {
    const messageClass = isCurrentUser ? "message-utilisateur" : "message-contact";
    const now = new Date();
    const dateTime = now.toLocaleDateString() + ' ' + now.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
    
    const content = `
    <div class="message ${messageClass}">
      <div class="message-nom">${name}</div>
      <div class="message-texte">${msg}</div>
      <div class="message-date">${dateTime}</div>
    </div>
    `;
    messages.innerHTML += content;
    messages.scrollTop = messages.scrollHeight;
  };

  socketio.on("message", (data) => {
    const isCurrentUser = data.name === "{{ session['name'] }}";
    createMessage(data.name, data.message, isCurrentUser);
  });

  const envoyerMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

  function quitterSalle() {
    window.location.href = "{{ url_for('accueil') }}";
  }
</script>

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.name}}" === "{{ session['name'] }}");
</script>
{% endfor %}


</script>
{% endblock %}
